.videoFooterText{
    position: absolute; 
    color: white;
    bottom: 50px;
    margin-left: 40px;
    display: block;  
    border: 2px solid yellow;
}

.videoFooterText h3 {
    padding-bottom: 5px;
}

.videoFooterText p {
    padding-bottom: 10px;
}

