html{
    scroll-snap-type: y mandatory;
}

.app{
    height: 100vh;
    max-height: 900px;
    background-color: black;
    display: grid;
    place-items: center;
}

.videos{
    margin: 30px;
    position: relative;
    height: 600px;
    border-radius: 20px;
    overflow: scroll;
    width: fit-content;
    max-width: 500px;
    scroll-snap-type: y mandatory;
}

.videos::-webkit-scrollbar{
    display: none;
}
.videos{
    scrollbar-width: none;
}